*{
	margin: 0;
	padding: 0;
	background-color: rgb(248,248,248);
}
img{
	background-color: rgb(255,255,255);
}
#nav{
	width: 100%;
	position: static;
	float: left;	
	height: 80px;
	border:1px solid rgba(0,0,0,.1);
	background-color: rgb(255,255,255);


}
	.logo{
		margin-top: 20px;
		margin-left: calc(50% - 450px);
		position: relative;
		float: left;
		width: 40px;
	}
	.logol{
		margin-top: 25px;
		margin-left: 10px;
		position: relative;
		float: left;
		border-left: 1px solid rgba(0,0,0,1);
		width: 100px;
	}
	.buscador{
		margin-left: calc(50% - 100px);
		margin-top: 25px;
		float: left;
		height: 30px;
		border-radius: 5px;
		border:1px solid rgba(0,0,0,.2);
		width: 200px;
		position: static;
	}
	.infusuario{
		margin-top: 25px;
		margin-left: calc(50% - 350px);
		position: relative;
		float: left;
		width: 30px;
		
	}

#contenedor{
	width: 500px;
	background: yellow;
	position: relative;
	margin-left: calc(50% - 250px);
	margin-top: 50px;
	float: left;
}